MAX_BOT_TOKEN=

BRAVE_PATH="C:\\Program Files\\BraveSoftware\\Brave-Browser\\Application\\brave.exe"
BOT_PROFILE="C:\\projects\\bot\\brave-profile"

# ChatGPT generation timeout in seconds.
GPT_TIMEOUT=900

# MAX message chunk size.
MAX_MESSAGE_LENGTH=3900

# Diagnostic screenshots.
SCREENSHOT_DIR="./var/screenshots"
